@{
    ViewData["Title"] = "Passenger Page";
}

@model IEnumerable<Laba3.Dal.Entities.Passenger>
<a asp-action="PassengerAddView">Add new passenger to service</a>
<table class="table">
    <tr><td>Id</td><td>First Name</td><td>Last Name</td><td>Passort Number</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.First_Name</td>
            <td>@item.Last_Name</td>
            <td>@item.Passport_Number</td>
            <td><a class="btn" asp-action="PassengerEditView" asp-controller="Home" asp-route-id="@item.Id" >Update</a></td>
            <td><a type="submit" class="btn" asp-action="Delete" asp-controller="Home" method="post" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
</table>