@{
    ViewData["Title"] = "Passenger Page";
}

@model IEnumerable<Laba3.Dal.Entities.Passenger>
<style>
    table, th, td {
        border: 2px solid #f0efef;
        text-align: center;
    }
</style>

    <h1>Passengers</h1>
    <h6><a asp-action="PassengerAddView"> Add new passenger to service </a></h6>

<table class="table">
    <tr><td>Id</td><td>First Name</td><td>Last Name</td><td>Passort Number</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.First_Name</td>
            <td>@item.Last_Name</td>
            <td>@item.Passport_Number</td>
            <td><a class="btn btn-secondary" asp-action="PassengerEditView" asp-route-id="@item.Id" >Edit</a></td>
        </tr>
    }
</table>